In [2]:
def print_decreasing(n):
    if n < 1:
        return
    print(n)
    print_decreasing(n-1)
print_decreasing(5)

5
4
3
2
1

In [5]:
def print_increasing(n):
    if n ==0:
        return
    print_increasing(n-1)
    print(n)
print_increasing(5)

1
2
3
4
5

In [6]:
def print_decreasing_increasing(n):
    if n == 0:
        return
    print(n)
    print_decreasing_increasing(n-1)
    print(n)

print_decreasing_increasing(5)

5
4
3
2
1
1
2
3
4
5

In [10]:
def factorial(n):
    if n == 0:
        return 1 
    a = n * factorial(n-1)
    return a
x = factorial(5)
x

120

In [12]:
def power(x,n):
    if n == 0:
        return 1
    a = x * power(x, n-1)
    return a
power(2,2)

4

In [9]:
def log_power(x,n):
    if n == 0:
        return 1
    a = log_power(x, n//2)
    ans = a * a
    if n%2 == 1:
        ans = ans * x
    return ans

b = log_power(2,5)
b

32

In [9]:
#Tower of Hanoi

def tower_of_hanoi(n, t1, t2, t3):
    if n == 0:
        return
    tower_of_hanoi(n-1, t1, t3, t2)
    print(str(n) + '[' + t1 + '-->' + t2 + ']')
    tower_of_hanoi(n-1, t3, t2, t1)

tower_of_hanoi(3, 'A', 'B', 'C')

1[A-->C]
2[A-->B]
1[C-->B]

In [27]:
def display_array(a, idx):
    n = len(a)
    if idx == n:
        return
    print(a[idx])
    display_array(a, idx+1)
    
display_array([10,20,30,40,50], 4)

50

In [31]:
def display_array_reverse(a, idx):
    n = len(a)
    if idx == len(a):
        return
    display_array_reverse(a, idx+1)
    print(a[idx])

display_array_reverse([10,20,30,40,50], 2)

50
40
30